body {
    background-color: cornflowerblue;
}

header{
    background-color: darkseagreen;
}

#cabeceraweb{
    background-color: ivory;
}

#navegacionprincipal{
    background-color: aquamarine;
}

#barralateral{
    background-color: darkcyan;
}

#contenidoprincipal{
    background-color: azure;
}

#pieprincipal{
    background-color: mediumturquoise;
}